 .imageContainer {
  width: 30vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

.imageContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.imageContainer {
  
  background-position: cover;
  width: 35vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
